.messages {
  position: fixed;
  top: 0;
  right: 0;
  min-width: 380px;
  max-height: 100vh;
  overflow: auto;
  padding: 16px;
  pointer-events: none;

  :global {

    .message {
      pointer-events: all;
    }
  }
}