{
  "presets": ["react-static/babel-preset.js"],
  "plugins": [
    ["react-css-modules", {
      "filetypes": {
        ".scss": {
          "syntax": "postcss-scss"
        }
      },
      "handleMissingStyleName": "warn",
      "context": "."
    }]
  ]
}
