{
  "presets": ["react-static/babel-preset.js"],
  "plugins": [
    ["babel-plugin-react-css-modules", {
      "filetypes": {
        ".scss": {
          "syntax": "postcss-scss"
        }
      }
    }]
  ]
}
